RELATIVE_PATH=.

DOMAIN_NAME=signatix.fr
URL_SCHEME=https://
DOCKER_NAMESPACE=prod_signatix
LOCAL_IP=127.0.0.1
MONDAY_API_KEY=
MONDAY_APP_KEY=

MYSQL_DATABASE=bdd_signatix_production
MYSQL_ROOT_PASSWORD=
MYSQL_USER=signatix
MYSQL_PASSWORD=
MYSQL_PORT=60306

MAIL_RECEIVER_1=
MAIL_RECEIVER_2=
MAIL_RECEIVER_COMM=
MAIL_RECEIVER_RC=
SMTP_HOST=smtp.gmail.com
SMTP_ADDR=smtp.gmail.com:587
MAIL_SENDER=
MAIL_PASS=
MAIL_SAV=
MAIL_SAV_PASS=
GOOGLE_CLI_ID=
GOOGLE_SECRET=

MAINTENER_EMAIL=
SSL_CERT= # path to SSL certificate
SSL_KEY=  # path to SSL key
